<p>These are your quiz results:</p>
<p><%=@your_results%> out of 2 questions correct</p>

<p>These are your partner's quiz results:</p>
<p><%=@their_results%> out of 2 questions correct</p>

<p>Now you will get one more chance to chat with your partner...</p>

<%= form_tag(@next_step, :id => "continue_button") do %>
  <%= submit_tag("Continue") %>
<% end %>
