<table>
  <% @messages.each do |message|%>
  <tr>
    <td>
      <%if message.participant.id == @participant.id %>
      You: 
      <%else%>
      Partner: 
      <%end%>
    </td>  
    <td><%= message.body %></td>  
  </tr>
  <% end %>
</table>

