<table>
  <% @messages.each do |message|%>
  <tr>
    <td>
      <%= "User" + message.participant.id.to_s %><br/>
      <%= message.created_at %>
    </td>  
    <td><%= message.body %></td>  
  </tr>
  <% end %>
</table>

