<h1>Admin#export</h1>
<p>Find me in app/views/admin/export.html.erb</p>
<%=link_to "Export Participants", :controller => 'admin', :action => 'export_participants'%>
<%=link_to "Export Messages", :controller => 'admin', :action => 'export_messages'%>
<%=link_to "Export Pairings", :controller => 'admin', :action => 'export_pairings'%>





